<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="alimeNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/index"><img th:src="@{/img/core-img/logo.png}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">

                                <li class="active"><a href="/index">Home</a></li>
                                <li><a href="#">자료실</a>
                                    <ul class="dropdown">
                                        <li><a href="/board">- Home</a></li>
                                        <li><a href="/blog">- Blog</a></li>
                                        <li><a href="/article">- Article</a></li>
                                        <li><a href="/board">Board</a></li>
                                        <li><a href="/contact">- Contact</a></li>
                                        <li><a href="#">-Mento</a>
                                            <ul class="dropdown">
                                                <li><a href="https://github.com/inspire12" target="_blank">- inspire12</a></li>
                                                <li><a href="https://github.com/willook" target="_blank">- willook</a></li>
                                                <li><a href="https://github.com/MoonDD99" target="_blank">- MoonDD99</a></li>
                                                <li><a href="https://github.com/Sinyoung3016" target="_blank">- Sinyoung</a></li>
                                                <li><a href="https://github.com/hygoni" target="_blank">- hygoni</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/board">Board</a></li>
                                <li><a href="/gallery">Gallery</a></li>
                                <li><a href="/blog">blog</a></li>
                                <li><a href="/contact">Contact</a></li>


                            </ul>

                            <!-- Search Icon -->
                            <div class="search-icon" data-toggle="modal" data-target="#searchModal"><i class="ti-search"></i></div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
