<script src="js/plugin/sweetalert.min.js"></script>

<header class="header-area fixed-top">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="alimeNav">
                    <!-- Logo -->
                    <a class="nav-brand" href="/index">
                        <div style="color:antiquewhite">ANA</div>
                    </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <div class="menu-profile" id="menuProfile" style="background: whitesmoke; height:200px;">
                                <div sec:authorize="!isAuthenticated()">
                                    <div style="display:flex; justify-content: center">
                                        <img style="border-radius: 50%; width:150px; height: 150px" src="/img/user-img/common-user.jpg">
                                    </div>
                                    <div class="" style="display:flex; justify-content: flex-end">
                                        <div class="margin-10">
                                            <a href="#"><i class="fa fa-user-circle-o"
                                                           onclick="window.location.href='/signup#signUpForm'">
                                                Sign Up
                                            </i></a>
                                        </div>
                                        <div class="margin-10">
                                            <a href="#"><i class="fa fa-user-circle-o"
                                                           onclick="window.location.href='/signup#signInForm'">
                                                Login
                                            </i></a>
                                        </div>
                                    </div>
                                </div>
                                <div sec:authorize="isAuthenticated()">
                                    <div class="display-flex-center">
                                        <img height="150px" src="/img/user-img/common-user.jpg">
                                    </div>
                                    <div class="flex-md-wrap-reverse">
                                        <a href="/profile">Profile</a>
                                        <a href="/logout">Logout</a>
                                    </div>

                                </div>

                            </div>
                            <ul id="nav" class="mb-0">
                                <li><a href="#">자료실</a>
                                    <ul class="dropdown">
                                        <li><a href="/index">- Home</a></li>
                                        <li><a href="/about">- About</a></li>
                                        <li><a href="/blog">- Blog</a></li>
                                        <li><a href="/gallery">- Gallery</a></li>
                                        <li><a href="/board">- Board</a></li>
                                        <li><a href="/contact">- Contact</a></li>
                                        <li><a href="/opensource">- Open Source</a></li>

                                        <li><a href="#">- Mento</a>
                                            <ul class="dropdown">
                                                <li><a href="https://github.com/inspire12" target="_blank">-
                                                    inspire12</a></li>
                                                <li><a href="https://github.com/willook" target="_blank">- willook</a>
                                                </li>
                                                <li><a href="https://github.com/MoonDD99" target="_blank">- MoonDD99</a>
                                                </li>
                                                <li><a href="https://github.com/Sinyoung3016" target="_blank">-
                                                    Sinyoung</a></li>
                                                <li><a href="https://github.com/hygoni" target="_blank">- hygoni</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li><a href="#">게시판</a>
                                    <ul class="dropdown">
                                        <li><a href="/board">- All</a></li>
                                        <li><a href="/board?type=1">- 잡담</a></li>
                                        <li><a href="/board?type=2">- 정보</a></li>
                                        <li><a href="/board?type=3">- 스터디</a></li>
                                        <li><a href="/board?type=4">- 알고리즘</a></li>
                                        <li><a href="/board?type=5">- AI</a></li>
                                        <li><a href="/board?type=6">- 개발지식</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Lab</a>
                                    <ul class="dropdown">
                                        <li><a href="/algorithm">- Algorithm</a></li>
                                        <li><a href="/ai">- AI</a></li>
                                        <li><a href="/gan-style">- AI-GAN</a></li>
                                        <li><a href="/gif">- Gif</a></li>
                                    </ul>
                                </li>
                                <li class="text-right text-white margin-10 cursor-pointer"
                                    sec:authorize="!isAuthenticated()" id="headerLogin" style="inline-block!important">
                                    <a href="#"><i class="fa fa-user-circle-o"
                                                   onclick="window.location.href='/signup#signInForm'">
                                        Login
                                    </i></a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <a href="#"><i class="fa fa-user-circle-o form-submit">
                                        User</i>
                                    </a>
                                    <ul class="dropdown">
                                        <li><a href="/profile">Profile</a></li>
                                        <li><a href="/logout">Logout</a></li>
                                    </ul>
                                </li>

                            </ul>

                            <!-- Search Icon -->
                            <div class="search-icon flex-vertical-center margin-10" data-toggle="modal" id="searchIcon"
                                 data-target="#searchModal"><i class="ti-search"></i></div>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<script th:inline="javascript">
    activeSelectedInHeader();

    function activeSelectedInHeader() {
        let path = window.location.pathname;
        let headerMenu = document.getElementById("nav");
        for (let i = 0; i < headerMenu.childElementCount; i++) {
            let menu = headerMenu.children[i];
            if (menu.textContent.toLowerCase() === 'home' && (path === '/index' || path === '/')) {
                menu.classList.add("active");
                return
            }
            if (path.slice(1, path.length) === menu.textContent.toLowerCase()) {
                menu.classList.add("active");
                return;
            }
        }
    }

</script>
<!-- Header Area End -->
