<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

<!-- Title -->
<title>ANA</title>

<!-- Favicon -->
<link rel="icon" th:href="@{img/core-img/favicon.png}">

<!-- Stylesheet -->
<link rel="stylesheet" th:href="@{style.css}">
<link rel="stylesheet" th:href="@{css/custom/style.css}">
