.cust-grid {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.cust-grid-col {
    float: none;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-vertical-right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.text-logout {
    color: cornsilk;
}

.profile-img {
    width: 140px;
}

.margin-10 {
    margin:10px;
}

.cursor-pointer {
    cursor:pointer;
}

