<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                <div class="alime-projects-menu">
                    <div class="portfolio-menu text-center">
                        <button class="btn active no-shadow" data-filter="*">All</button>
                        <button class="btn no-shadow" data-filter=".algorithm">Algorithm</button>
                        <button class="btn no-shadow" data-filter=".ai">A.I</button>
                        <button class="btn no-shadow" data-filter=".contest">Contest</button>
                        <button class="btn no-shadow" data-filter=".study">Study</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row alime-portfolio" id="alime-portfolio">
            <!-- Single Gallery Item -->
        </div>

        <div class="row">
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                <a href="#" class="alime-btn btn-2 mt-15">View More</a>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Area End -->