<!-- Follow Area Start -->
<section class="follow-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Follow Instagram</h2>
                    <p>@Tasha_photographer</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Instagram Feed Area -->
    <div class="instragram-feed-area owl-carousel" id="instagram-feed-area-id">
    </div>
</section>
<!-- Follow Area End -->