<div class="alime-portfolio-area section-padding-80 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Projects Menu -->
                <div class="alime-projects-menu">
                    <div class="portfolio-menu text-center">
                        <button class="btn active" data-filter="*">All</button>
                        <button class="btn" data-filter=".human">Human</button>
                        <button class="btn" data-filter=".nature">Nature</button>
                        <button class="btn" data-filter=".country">Country</button>
                        <button class="btn" data-filter=".video">Video</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row alime-portfolio">
            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img th:src="@{img/bg-img/3.jpg}" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/3.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img th:src="@{img/bg-img/4.jpg}" alt="">
                    <div class="hover-content">
                        <a th:href="@{img/bg-img/4.jpg}" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="img/bg-img/5.jpg" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/5.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="700ms">
                <div class="single-portfolio-content">
                    <img src="img/bg-img/6.jpg" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/6.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="img/bg-img/7.jpg" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/7.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="img/bg-img/8.jpg" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/8.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="img/bg-img/10.jpg" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/10.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="700ms">
                <div class="single-portfolio-content">
                    <img src="img/bg-img/9.jpg" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/9.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-6 single_gallery_item video country mb-30 wow fadeInUp" data-wow-delay="100ms">
                <div class="single-portfolio-content">
                    <img src="img/bg-img/36.jpg" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/36.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item human mb-30 wow fadeInUp" data-wow-delay="300ms">
                <div class="single-portfolio-content">
                    <img src="img/bg-img/37.jpg" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/37.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>

            <!-- Single Gallery Item -->
            <div class="col-12 col-sm-6 col-lg-3 single_gallery_item country mb-30 wow fadeInUp" data-wow-delay="500ms">
                <div class="single-portfolio-content">
                    <img src="img/bg-img/5.jpg" alt="">
                    <div class="hover-content">
                        <a href="img/bg-img/5.jpg" class="portfolio-img">+</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                <a href="#" class="btn alime-btn btn-2 mt-15">View More</a>
            </div>
        </div>
    </div>
</div>
<!-- Gallery Area End -->