<!-- Follow Area Start -->
<section class="follow-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Follow Instagram</h2>
                    <p>@Alime_photographer</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Instagram Feed Area -->
    <div class="instragram-feed-area owl-carousel">
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="img/bg-img/11.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>Alime_photographer</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="img/bg-img/12.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>Alime_photographer</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="img/bg-img/13.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>Alime_photographer</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="img/bg-img/14.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>Alime_photographer</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="img/bg-img/15.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>Alime_photographer</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="img/bg-img/16.jpg" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="#">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>Alime_photographer</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Follow Area End -->