<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="@{fragment/common/head.html}"></th:block>
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <th:block th:include="@{fragment/common/top-search-area.html}"></th:block>
    <th:block th:include="@{fragment/common/header.html}"></th:block>


    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/38.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">About Us</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- About Us Area Start -->
    <div class="about-us-area section-padding-80-0 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="about-us-content mb-80">
                        <h3 class="wow fadeInUp" data-wow-delay="100ms">We Live For Passion</h3>
                        <div class="line wow fadeInUp" data-wow-delay="200ms"></div>
                        <p class="wow fadeInUp" data-wow-delay="300ms">동아리 명인 ANT 는 다음과 같은 뜻을 담았습니다. Algorithm & Think 의 줄임말로 컴퓨터 과학의 기반이 되는 알고리즘을 생각하는 동아리입니다. 또한 성실한 노력과 새로운 것을 적극적으로 탐험하는 개미의 약자입니다.  </p>
                        <p class="wow fadeInUp" data-wow-delay="400ms">ANA는 알고리즘 동아리 ANT와 오픈소스 동아리 Almighty 가 결합한 동아리입니다. </p>
                        <a class="btn alime-btn btn-2 mt-30 wow fadeInUp" data-wow-delay="500ms" href="https://github.com/CNU-ANT" target="_blank">Contact Us</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="about-video-area mb-80 wow fadeInUp" data-wow-delay="100ms">
                        <img src="img/bg-img/17.jpg" alt="">
                        <div class="video-icon">
                            <a href="https://www.youtube.com/watch?v=sSakBz_eYzQ" class="video-play-btn"><i class="arrow_triangle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area End -->

    <!-- Why Choose Us Area Start -->
    <section class="why-choose-us-area bg-gray section-padding-80-0 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h2>Why Choose Us</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Why Choose Area -->
                <div class="col-md-6 col-lg-4">
                    <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="100ms">
                        <div class="chosse-us-icon">
                            <i class="fa fa-film" aria-hidden="true"></i>
                        </div>
                        <h4>기초부터 튼튼한 높은 퀄리티의 프로그래밍 교육</h4>
                        <p> 자바 기초부터 초 중 고급 알고리즘, 웹서버 스터디, 머신러닝 스터디 등을 진행중입니다.</p>
                    </div>
                </div>

                <!-- Single Why Choose Area -->
                <div class="col-md-6 col-lg-4">
                    <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="300ms">
                        <div class="chosse-us-icon">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                        <h4>풍부한 대회 경험</h4>
                        <p>여러 대학 알고리즘대회부터 ICPC, CodeJam 등의 알고리즘 대회에 도전하며 '생각하는 프로그래밍 대회'를 매년 개최 중입니다.</p>
                    </div>
                </div>

                <!-- Single Why Choose Area -->
                <div class="col-md-6 col-lg-4">
                    <div class="why-choose-us-content text-center mb-80 wow fadeInUp" data-wow-delay="500ms">
                        <div class="chosse-us-icon">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </div>
                        <h4>개발자 문화</h4>
                        <p>코드리뷰나 개발 서적 리뷰를 하며 다양한 정보를 주고 받는 개발을 좋아하는 사람들입니다. 같이 팀을 꾸려 스터디를 하고 알고리즘을 넘어 다양한 공모전에 도전하며 성장하는 동아리입니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Choose  us Area End -->

    <!-- Our Team Area Start -->
    <section class="our-team-area section-padding-80-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h2>Our Team</h2>
                    </div>
                </div>
            </div>

            <div class="row" id="team-member-area-id">
               
            </div>
        </div>
    </section>
    <!-- Our Team Area End -->

    <!-- Follow Area Start -->
    <th:block th:include="fragment/home/follow-area.html"></th:block>
    <!-- Follow Area End -->

    <!-- Footer Area Start -->
    <th:block th:include="fragment/common/footer-area"></th:block>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script th:src="@{js/jquery.min.js}"></script>
    <!-- Popper -->
    <script th:src="@{js/popper.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{js/bootstrap.min.js}"></script>
    <!-- Common CUSTOM -->
    <script th:src="@{js/custom/components.js}"></script>

    <script th:src="@{js/custom/templates/about.js}"></script>
    <script th:inline="javascript">

        function main (users) {
            let teamMemberArea = document.getElementById("team-member-area-id");
            // let users = [{"id":"inspire12", "name":"서영학","profile": "https://avatars2.githubusercontent.com/u/11865970?s=460&v=4"},
            //     {"id":"Sinyoung3016", "name":"복신영", "profile": "https://avatars0.githubusercontent.com/u/53924962?s=400&v=4"},
            //     {"id":"willook", "name":"이종화", "profile": "https://avatars3.githubusercontent.com/u/20057702?s=400&u=206097fc053c71eb3888a2e4bfa85133429225c1&v=4"},
            //     {"id":"hygoni", "name":"유형곤", "profile":"https://avatars0.githubusercontent.com/u/50040414?s=460&v=4"}
            // ];
            for (let i = 0; i<users.length; i++) {
                let element = createTeamMemberArea(users[i], 500 + 500 * i);
                teamMemberArea.append(element)
            }

            appendFollowAreaImgs();
        }
        let users = /*[[${adminUsers}]]*/;
        main(users);
    </script>
    <!-- All Plugins -->
    <script th:src="@{js/alime.bundle.js}"></script>
    <!-- Active -->
    <script th:src="@{js/default-assets/active.js}"></script>


</body>

</html>