<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="@{fragment/common/head.html}"></th:block>
</head>

<body>
<!-- Preloader -->
<th:block th:include="@{fragment/common/pre-loader.html}"></th:block>
<!-- /Preloader -->

<th:block th:include="@{fragment/common/top-search-area.html}"></th:block>
<th:block th:include="@{fragment/common/header.html}"></th:block>

<!-- Breadcrumb Area Start -->
<div id="breadcrumb-area-id">

</div>
<!-- Breadcrumb Area End -->

<!-- Blog Details Area Start -->
<div class="alime-blog-area section-padding-80">
    <div sec:authorize="isAuthenticated()" class="container text-right">
        <i class="fa fa-edit cursor-pointer" onclick="return editArticle()"></i>
        <i class="fa fa-trash cursor-pointer" onclick="return deleteArticle()"></i>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Blog Details Text -->
                <div class="blog-details-text" id="blog-details-text-id">

                </div>

                <!-- Post Author Area -->
                <div class="post-author-area mt-50 d-flex align-items-center justify-content-between">
                    <ul class="popular-tags" id="popular-tags">
                    </ul>

                    <!-- Share Info -->
                    <div class="post-social-info d-flex align-items-center">
<!--                        <p>Share:</p>-->
<!--                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>-->
<!--                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>-->
<!--                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>-->
<!--                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>-->
<!--                        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>-->
                    </div>
                </div>
                <div class="row mt-15 flex-column-reverse">
                    <button class="btn"> LIKE </button>
                </div>
                <div class="d-flex align-items-center justify-content-between row ml-4 file-list" id="file-list">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Details Area End -->

<!--&lt;!&ndash; Related News Area Start &ndash;&gt;-->
<!--<div class="related-news-area">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-10">-->
<!--                <div class="section-heading">-->
<!--                    <h2>Recommended For You</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row" id="related-news-id">-->
<!--        </div>-->
<!--        <div class="border-top mt-5"></div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Related News Area End &ndash;&gt;-->

<!-- Comment Area Start -->
<div class="comment-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Comments Area -->
                <div class="comment_area clearfix" id="comment-area-id">
                    <h4 class="mb-30">No Comments</h4>

                    <ol>
                        <!-- Single Comment Area -->
                    </ol>
                </div>

                <!-- Leave A Reply -->
                <div class="alime-contact-form mt-50">
                    <h4 class="mb-30">Leave A Comment</h4>
                    <!-- Form -->
                    <form action="javascript:void(0);">
                        <div class="row">
                            <div class="col-12">
                                <textarea name="message" class="form-control mb-30" id="comment"
                                          placeholder="Messages"></textarea>
                            </div>
                            <div class="col-12 text-right">
                                <button class="btn alime-btn btn-2 mt-15" onclick="submitComment(comment)"> 댓글 달기
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Comment Area End -->
<!-- Board-->
<!---->
<th:block th:include="fragment/home/follow-area.html"></th:block>

<!-- Footer Area Start -->
<th:block th:include="fragment/common/footer-area"></th:block>
<!-- Footer Area End -->

<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script th:src="@{js/jquery.min.js}"></script>
<!-- Popper -->
<script th:src="@{js/popper.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{js/bootstrap.min.js}"></script>

<!-- Common CUSTOM -->
<script th:src="@{js/custom/fetch.js}"></script>
<script th:src="@{js/custom/components.js}"></script>
<!-- CUSTOM -->
<script th:src="@{js/custom/templates/article.js}"></script>
<script th:inline="javascript">

    let article = /*[[${article}]]*/ '';
    let user = /*[[${user}]]*/ '';
    main(article, user);

</script>

<!-- All Plugins -->
<script th:src="@{js/plugin/alime.bundle.js}"></script>
<!-- Active -->
<script th:src="@{js/default-assets/active.js}"></script>

</body>

</html>