<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="@{fragment/common/head.html}"></th:block>

</head>

<body>
    <!-- Preloader -->
    <th:block th:include="@{fragment/common/pre-loader.html}"></th:block>
    <!-- /Preloader -->

    <th:block th:include="@{fragment/common/top-search-area.html}"></th:block>
    <th:block th:include="@{fragment/common/header.html}"></th:block>

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/38.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Latest Blog</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Blog Area Start -->
    <div class="alime-blog-area section-padding-80-0 mb-70">
        <div class="container">
            <div class="row">

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="img/bg-img/51.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Photography</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">The Female Body Shape Men Find Most Attractive</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="img/bg-img/52.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Camera</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">The Female Body Shape Men Find</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="img/bg-img/53.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Country</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Vietnam's largest art community</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="img/bg-img/54.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Camera</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">Photo awards of the year</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="img/bg-img/55.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Tips</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">The Female Body Shape Men Find</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="img/bg-img/56.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Photography</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">The Female Body Shape Men Find Most Attractive</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="100ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="img/bg-img/57.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Country</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">The Female Body Shape Men Find</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-6">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="400ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="img/bg-img/58.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Camera</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">The Female Body Shape Men Find Most Attractive</a>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-3">
                    <div class="single-post-area wow fadeInUpBig" data-wow-delay="700ms">
                        <!-- Post Thumbnail -->
                        <a href="#" class="post-thumbnail"><img src="img/bg-img/59.jpg" alt=""></a>
                        <!-- Post Catagory -->
                        <a href="#" class="btn post-catagory">Photography</a>
                        <!-- Post Conetent -->
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">May 19, 2019</a>
                                <a href="#">3 Comment</a>
                            </div>
                            <a href="#" class="post-title">The Female Body Shape Men Find</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Blog Area End -->

    <!-- Follow Area Start -->
    <th:block th:include="fragment/home/follow-area.html"></th:block>
    <!-- Follow Area End -->

    <!-- Footer Area Start -->
    <th:block th:include="fragment/common/footer-area"></th:block>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script th:src="@{js/jquery.min.js}"></script>
    <!-- Popper -->
    <script th:src="@{js/popper.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{js/bootstrap.min.js}"></script>

    <!-- Common CUSTOM -->
    <script th:src="@{js/custom/components.js}"></script>
    <!-- All Plugins -->
    <script th:src="@{js/plugin/alime.bundle.js}"></script>
    <!-- Active -->
    <script th:src="@{js/default-assets/active.js}"></script>

</body>

</html>