<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Alime - Photography HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<th:block th:include="@{/fragment/common/top-search-area.html}"></th:block>
<th:block th:include="@{/fragment/common/header.html}"></th:block>

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/38.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Board List</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">Board</li>
                            <li class="breadcrumb-item active" aria-current="page">Notice</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Blog Area Start -->
<div class="alime-blog-area section-padding-80-0 mb-70">
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">분류</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">날짜</th>
                    <th scope="col">조회</th>
                    <th scope="col">추천</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article: ${articles}">
                    <td></td>
                    <td th:text="${article.subject}"></td>
                    <td>서영학</td>
                    <td>2019.11.15</td>
                    <td>2</td>
                    <td>0</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Blog Area End -->

<!-- Footer Area Start -->
<th:block th:include="/fragment/common/footer-area"></th:block>
<!-- Footer Area End -->

<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script src="js/jquery.min.js"></script>
<!-- Popper -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- All Plugins -->
<script src="js/alime.bundle.js"></script>
<!-- Active -->
<script src="js/default-assets/active.js"></script>

</body>

</html>