<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="@{fragment/common/head.html}"></th:block>
</head>

<body>
<!-- Preloader -->
<th:block th:include="@{fragment/common/pre-loader.html}"></th:block>
<!-- /Preloader -->

<th:block th:include="@{fragment/common/top-search-area.html}"></th:block>
<th:block th:include="@{fragment/common/header.html}"></th:block>

<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/38.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">게시판</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon_house_alt"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">Board</li>
                            <!--                            <li class="breadcrumb-item active" aria-current="page">Notice</li>-->
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Blog Area Start -->
<div class="alime-blog-area section-padding-80-0 mb-70">
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th style="min-width:60px;" scope="col">분류</th>
                    <th style="width:450px; min-width:200px" scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">날짜</th>
                    <th style="min-width:60px;" scope="col">조회</th>
                    <th style="min-width:60px;" scope="col">추천</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="col-12 text-right">
                <a class="btn alime-btn btn-2 mt-30 wow fadeInUp" data-wow-delay="500ms" href="/writing"
                   target="_blank">글쓰기</a>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End -->

<!-- Footer Area Start -->
<th:block th:include="fragment/common/footer-area"></th:block>
<!-- Footer Area End -->

<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script src="js/plugin/jquery.min.js"></script>
<!-- Popper -->
<script src="js/plugin/popper.min.js"></script>
<!-- Bootstrap -->
<script src="js/plugin/bootstrap.min.js"></script>

<!-- Common CUSTOM -->
<script th:src="@{js/custom/components.js}"></script>
<!-- CUSTOM -->
<script th:inline="javascript">
    let articles = /*[[${articles}]]*/ [];

    function showDateFrom(localDateTime) {
        let d = new Date(localDateTime);
        let year = d.getFullYear();
        let month = (d.getMonth() + 1).toString().padStart(2,0);
        let day = d.getDate().toString().padStart(2,0);
        return year + "." + month + "." + day;
    }

    function createArticleRows(article) {
        let depth = "";
        for (let i = 0; i < article['depth']; i++) {
            depth += "<i class=\"fa fa-share fa-flip-vertical re mr-1\"></i>"
        }
        let trStr = '<tr><td>' + article['category'] + '</td>\n' +
            '<td> <a href=/article?id=' + article['id'] + '>' + depth + article['subject'] + '</a><a>[' + article['comments'].length+ ']</a></td>\n' +
            '<td>' + article['author']['nickname'] + '</td>\n' +
            '<td>' + showDateFrom(article['updated_at']) + '</td>\n' +
            '<td>' + article['hit'] + '</td>\n' +
            '<td>' + article['like'].length + '</td>\n' +
            '</tr>';
        return createTrFromStr(trStr);
    }

    function main() {
        let tbody = document.getElementsByTagName("tbody")[0];
        for (let i = 0; articles !== null && i < articles.length; i++) {
            tbody.append(createArticleRows(articles[i]))
        }
    }

    main()

</script>


<!-- All Plugins -->
<!-- Active -->
<script th:src="@{js/default-assets/classy-nav.js}"></script>
<script th:src="@{js/default-assets/active.js}"></script>

</body>

</html>`
