<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Alime - Photography HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/img/core-img/favicon.png}">

    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->


<th:block th:include="@{/fragment/common/top-search-area.html}"></th:block>
<th:block th:include="@{/fragment/common/header.html}"></th:block>

<div th:if="${name.equals('index')}">
    <th:block th:include="/fragment/home/welcome-area.html"></th:block>
    <th:block th:include="/fragment/home/alime-portfolio-area.html"></th:block>
    <th:block th:include="/fragment/home/follow-area.html"></th:block>
</div>


<!-- Footer Area Start -->
<th:block th:include="/fragment/common/footer-area"></th:block>


<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Popper -->
<script th:src="@{/js/popper.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- All Plugins -->
<script th:src="@{/js/alime.bundle.js}"></script>
<!-- Active -->
<script th:src="@{/js/default-assets/active.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/components.js}"></script>

</body>

</html>