<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Alime - Photography HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<th:block th:include="@{/fragment/common/top-search-area.html}"></th:block>
<th:block th:include="@{/fragment/common/header.html}"></th:block>

<!-- Breadcrumb Area Start -->
<div id="breadcrumb-area-id">

</div>
<!-- Breadcrumb Area End -->

<!-- Comment Area Start -->
<div class="comment-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <!-- Leave A Reply -->
                <div class="alime-writing-form mt-50">
                    <h4 class="mb-30">글쓰기</h4>
                    <!-- Form -->
                    <form action="javascript:void(0);">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" name="message" class="form-control mb-30" id="writing-title"
                                          placeholder="제목을 입력하세요."/>
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control mb-30" id="writing"></textarea>
                            </div>
                            <div class="col-12 text-right">
                                <button class="btn alime-btn btn-2 mt-15" onclick="submitWriting(writing)">작성완료
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Comment Area End -->

<th:block th:include="/fragment/home/follow-area.html"></th:block>

<!-- Footer Area Start -->
<th:block th:include="/fragment/common/footer-area"></th:block>
<!-- Footer Area End -->

<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script th:src="@{js/jquery.min.js}"></script>
<!-- Popper -->
<script th:src="@{js/popper.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{js/bootstrap.min.js}"></script>

<script src="//cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<!-- Common CUSTOM -->
<script th:src="@{/js/custom/fetch.js}"></script>
<script th:src="@{/js/custom/components.js}"></script>
<!-- CUSTOM -->
<script th:src="@{/js/custom/templates/writing.js}"></script>
<script th:inline="javascript">

    let article = /*[[${article}]]*/ '';

    function main() {
        CKEDITOR.replace('writing')
    }

    main()

</script>

<!-- All Plugins -->
<script th:src="@{js/alime.bundle.js}"></script>
<!-- Active -->
<script th:src="@{js/default-assets/active.js}"></script>

</body>

</html>