<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>

    <link rel="stylesheet" th:href="@{css/plugin/dropzone.css}">
    <script th:src="@{js/plugin/dropzone.js}"></script>
</head>
<body>

<p>
    This is the most minimal example of Dropzone. The upload in this example
    doesn't work, because there is no actual server to handle the file upload.
</p>

<!-- Change /upload-target to your upload address -->

<img src="/upload-dir/2.jpg" alt=""/>
</body>
</html>