
.tag-container {
  width: auto;
  padding: 15px 15px 10px 15px;
  border-radius: 15px;
}
.tag-container h1 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.tag-container ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.tag-container ul li {
  display: inline-block;
  background: #555;
  color: white;
  padding: 3px 5px 3px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.tag-container ul li a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
  font-size: 10px;
  background: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.tag-container ul li a:hover {
  color: red;
}
.tag-container input {
  border: 0px;
  background: none;
  margin-bottom: 5px;
  display: inline-block;
}

